<!DOCTYPE html>
<html lang="en">
<head>
  <title>InnoMInds Mean Stack Team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">Team Members List</div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-6">
              <input type="text"
              [(ngModel)]="empName"/>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By: {{empName}}</h3>
            </div>
        </div>
          <div class="table-responsive">
            <table class="table" *ngIf ="Employees && Employees.length">
              <thead>
                <tr>
                  <th><button class="btn btn-success" (click)="toggleImage()">{{showImage ? 'Hide' : 'Show'}} Image</button></th>
                  <th>Emp.ID</th>
                  <th>Name</th>
                  <th>EmailID</th>
                  <th>Date Of Birth</th>
                  <th>Location</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Employee of Employees | empFilter:empName">
                  <td><img *ngIf="showImage"
                          [src]="Employee.imageUrl"
                          [title]="Employee.EmployeeName  | uppercase"
                          [style.width.px] = "imageWidth"
                          [style.margin.px] ="ImageMargin"
                  ></td>
                  <td>{{Employee.EmployeeId}}</td>
                  <td>{{Employee.EmployeeName | lowercase}}</td>
                  <td>{{Employee.EmailID}}</td>
                  <td>{{Employee.DateOfBirth}}</td>
                  <td>{{Employee.Location}}</td>
                  <td><el-star [rating]="Employee.starRating"></el-star></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  </div>
</div>

</body>
</html>
